@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  h1 {
    @apply font-semibold text-5xl py-2;
  }

  h2 {
    @apply font-semibold text-4xl py-2;
  }

  h3 {
    @apply font-semibold text-3xl;
  }

  h4 {
    @apply font-semibold text-2xl;
  }
}
